<%= form_for(@domain) do |f| %>
    <% if @domain.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

          <ul>
            <% @domain.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <!-- Display Standard fields and belongs_to associations-->
    <% fields_to_edit_for_model(@model).each do |field| %>
        <div class="fields">
          <%= render partial: 'form_field', locals: {model: @model, domain: @domain, field: field, f: f} %>
        </div>
    <% end %>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
