<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if @domains.empty? %>
    <%= content_tag :div, t("openlists.empty_domain_list", default: "There is no domain defined."), class: "well well-large" %>
<% else %>

    <% column_list_to_display = ['name', 'description'] %>
    <div class="row-fluid">
      <div class="span12">
        <div class="accordion" id="domain-accordion">
          <% @domains.each do |domain| %>
              <%= content_tag :div, class: 'accordion-group' do %>
                  <%= content_tag :div, class: 'accordion-heading' do %>
                      <%= link_to domain.name, "#domain_#{domain.id}", data: {toggle: 'collapse', parent: '#domain-accordion'} %>
                  <% end %>
                  <%= content_tag :div, class: 'accordion-body collapse', id: "domain_#{domain.id}" do %>
                      <%= content_tag :div, class: 'accordion-inner' do %>
                          <%= render :partial => 'show', locals: {domain: domain} %>
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>
