<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<% if @domains.empty? %>
    <%= content_tag :div, t("openlists.empty_domain_list", default: "There is no domain defined."), class: "well well-large" %>
<% else %>

    <% column_list_to_display = ['name', 'description'] %>
    <div class="row-fluid">
      <div class="span12">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <% column_list_to_display.each do |column_name| %>
                <th>
                  <%= column_list_header_button_tag column_name, OpenLists::Domain %>
                </th>
            <%end %>

            <th><%= t("openlists.actions") %></th>
          </tr>
          </thead>
          <tbody>
          <% @domains.each do |domain| %>
              <tr>
                <% column_list_to_display.each do |column| %>
                    <td onclick="location.href='<%= domain_path(domain.name) %>'">
                      <%= domain.attributes[column] %>
                    </td>
                <% end %>

                <td>
                  <%= link_to t('openlists.delete'),
                              domain_path(domain),
                              :method => :delete,
                              :data => { :confirm => t('openlists.confirm_domain_deletion',
                                                       :default => 'Are you sure you want delete this library? It permanently delete all lists of that domain ' ) },
                              :class => 'btn btn-mini btn-danger' %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
<% end %>