<%= content_tag :div, class: 'row-fluid' do %>
    <% child_model = domain.model_class(association_name.to_s.pluralize)%>
    <%= content_tag :h2, t(nil, default: t("openlists.linked", default: "Linked %s") % [child_model.display_name.pluralize]) %>
    <% child_model.limit(OpenLists::ApplicationHelper::MAX_TO_BE_DISPLAYED_AS_CHECKBOXES).each do |child| %>
        <% param_save_path = "#{model.name.underscore.tr('/', '_')}[#{association_name.to_s.singularize}_ids][]"%>
        <% if has_few_records? domain, association_name %>
            <div>
              <%= check_box_tag param_save_path, child.id, item.send(association_name).include?(child) %>
              <%= display_name_for_item child %>
            </div>

        <% else %>
            <%= content_tag :div, class: 'span5 linked' do %>

            <% end %>
            <%= content_tag :div, class: 'span2 commands' do %>

            <% end %>
            <%= content_tag :div, class: 'span5 unlinked' do %>

            <% end %>
        <% end %>
    <% end %>
<% end %>