<div class="page-header row-fluid">
  <div class="span5">
    <h1><%= t nil, default: t('openlists.list_of', default: "List of %s") % [@model.display_name.pluralize] %></h1>
  </div>
  <div class="span7">
    <% relations = @model.reflections.keys %>
    <% unless relations.blank? %>
        <ul class="inline pull-right">
          <li>
            <%= t 'openlists.this_table_has_relation_with', default: "This list has relations with:" %>
          </li>
          <% relations.each do |linked_model| %>
              <li>
                <% linked_model_class = @domain.model_class(linked_model.to_s.pluralize) %>
                <%= link_to(linked_model_class.display_name.pluralize, model_path(linked_model_class)) %>
              </li>
          <% end %>
        </ul>
    <% end %>
  </div>
</div>

<div class="row-fluid" id="items-list">
  <%= render :partial => 'list' %>
</div>

<div class="row-fluid">
  <%= link_to t('openlists.new'),
              new_item_path,
              :class => 'btn btn-primary' %>
</div>
